@import url('./_reset.css');
@import url('@jynxio/ui/style.css');

:root {
    /* Color */
    --color-blue: #0157e4;
    --color-white: #ededed;
    --color-black: #000;
    --color-silver: #333;
    --color-gray: #131313;

    /* Radius */
    --radius-xs: calc(2 / 16 * 1rem);
    --radius-sm: calc(4 / 16 * 1rem);
    --radius-md: calc(8 / 16 * 1rem);

    /* Font */
    --font-thin: 300;
    --font-mono: 'LXGW WenKai Mono TC';

    color: var(--color-white);
    font-family: var(--font-mono);
    font-weight: var(--font-thin);
    background-color: var(--color-black);
}

#root {
    isolation: isolate;
    inline-size: 100dvw;
    block-size: 100dvh;
}
