*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

#root {
    font-family: ui-monospace, monospace;
    font-weight: normal;
    font-size: 1rem;
    font-style: normal;
    line-height: 1;
    tab-size: 4;

    /* Prevent font size adjustment after orientation changes in iOS */
    text-size-adjust: 100%;
    text-autospace: normal;

    /* stylelint-disable-next-line value-keyword-case */
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Prevent 'sub' and 'sup' from affecting line height */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Fix table border color inheritance in Chrome and Safari */
table {
    border-color: currentcolor;
}

/* Fix clickable types styling in iOS and Safari */
button,
[type='button'],
[type='reset'],
[type='submit'] {
    appearance: auto;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

summary {
    display: list-item;
}

img,
svg,
video,
canvas,
picture {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    min-width: 0;
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    overflow-wrap: break-word;
}

p {
    hyphens: auto;
    text-wrap: pretty;
    overflow-wrap: break-word;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    appearance: textfield;
    outline-offset: -2px;
}

::-webkit-search-decoration {
    appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    appearance: auto;
}
